body { background: #546168; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 46px; display: flex; }
.block-product-0 { color: #9e9b27; font-size: 17px; margin-bottom: 5px; }
.block-database-1 { color: #b6d8a3; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #3a1382; font-size: 17px; margin-bottom: 5px; }
.block-session-3 { color: #8f8c18; font-size: 16px; margin-bottom: 5px; }
.block-database-4 { color: #af0398; font-size: 16px; margin-bottom: 5px; }
.block-cluster-5 { color: #2dd5c1; font-size: 12px; margin-bottom: 5px; }